*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.green{
    height: 120px;
    background-color: #009688;
}

.white{
    background-color: #cdcdc7;
    height:100vh;
}

.container-flex{
    display: flex;
    max-width: 1400px;
    z-index: 1;
    bottom: 6rem;
    position: relative;
    
}

/* sidebar */

.sidebar{
    height: 800px;
    width: 500px;
}

div.profile {
    display: flex;
    background-color: #eaeaea;
}

div.profile img,
section.contacts img{
    height: 50px;
    margin: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    margin: 0.50rem;
    
}

div.profile span {
    text-align: center;
    align-self: center;
    margin: 0;
}

div.activities {
    text-align: center;
    align-self: center;
    margin-right: 0;
}

div.activities i {
    margin-right: 1rem;
    color: #afb1b3;
}

/* notification bell */

div.notifications-allow {
    background-color: #8edafc;
    display: flex;
    padding: 0.50rem 0;
}

div.notifications-allow i {
    margin: 0.50rem;
    padding: 0.75rem;
    background-color: white;
    border-radius: 50%;
    margin-left: 1rem;
    color: #8edafc;
    
    
}

div.notifications-allow span {
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: 14px;
}

div.notifications-allow p {
    margin-right: 4rem;
    font-size: 13px;
}

/* fine notification bell */

/* searchbar */

div.searchbar {
    display: flex;
    background-color: #fafafa;
}


div.search {
    margin: 0;
    padding: 0.25rem;
}

div.search {
    width: 100%;
    display: flex;
    padding: 0.25rem;
}

div.search i {
    padding: 0.40rem 1.5rem;
    border: 1px solid #f6f6f6;
    background-color: #ffffff;
    color: #b2b3b6;
}

div.search input {
    width: 100%;
    font-size: 12px;
    border: 1px solid #f6f6f6;
    background-color: #ffffff;
}

/* fine searchbar */

/* --------------------------------------- */

/* sidebar contacts */

div.contacts-container {
    overflow-y: scroll;
    height: 622px; 
}

section.contacts {
    display: flex;
    background-color: #ffffff;
    border-top: 2px solid #f9f9f9;
    padding: 0.50rem 0;
    justify-content: space-between;
}

section.contacts  div.time {
    margin-right: 1rem;
    font-size: 11px;
    color: #d1c6c2;
}

section.contacts:hover {
    background-color: #ffffffbc;
}

section.contacts span {
    align-self: start;
    margin: 0 0.50rem;
    font-size: 16px;
}

section.contacts span p {
    font-size: 11px;
    color: #c0bcbe;
}
/* fine sidebar contacts */

/* fine sidebar */

/* --------------------------------------- */

/* pagina chat */

.pagina-chat{
    width: 1000px;
}

div.profile-messager {
    border-left: 2px solid #dbdbdb;
    display: flex;
    background-color: #eaeaea;
}

div.profile-messager img {
    height: 50px;
    margin: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    margin: 0.50rem;
    
}

div.profile-messager span {
    text-align: center;
    align-self: center;
    margin: 0;
}

section.chat {
    background-image: url(../img/mine.jpg);
    height:669px;
    overflow-y: scroll;
}

/* type a massage */

div.text-send {
    display: flex;
    background-color: #f3eeea;
}


div.type-message {
    margin: 0;
    padding: 0.50rem;
    width: 100%;
    display: flex;
    
}

div.type-message i {
    margin: 0.75rem 1.25rem;
    color: #b2b3b6;
    font-size: 1.5rem;
}

div.type-message input {
    width: 100%;
    font-size: 12px;
    border: 1px solid #f6f6f6;
    background-color: #ffffff;
    border-radius: 0.50rem;

}

.chat {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    
}

.sent-message {
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 0;
    margin-bottom: 0.50rem;
    align-self: self-end;
}

.recived-message {
    align-self: self-start;
    padding: 1rem;
    margin: 0;
    border-radius: 0.75rem;
    margin-bottom: 0.50rem;
}

.sent {
    background-color: #d5f9ba;
}

.received {
    background-color: #ffffff;
}




/* fine pagina chat */


