<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./CSS/style.css">

    <!-- Google Fonts 'Lato' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="white">
        <section class="green">
    </section>
        <div id="app">
            <section class="container-flex">
                <article class="sidebar">
                    <div class="profile">
                        <img :src="myProfile.avatar" alt="avatar">
                        <span>{{ myProfile.name }}</span>
                        
                        <div class="activities">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notifications-allow">
                        <i class="fa-solid fa-bell-slash"></i>
                        <span>Ricevi notifiche di nuovi messaggi<a href=""><p>Attiva notifiche desktop </p></a></span>
                        
                    </div>

                    <div class="searchbar">
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder=" Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div class="contacts-container">
                        <section class="contacts" v-for="(item, index) in contacts" :key="index" @click="changeChat(2)">
                                <img :src="item.avatar + '.jpg'" alt="">
                                <span>{{item.name}}<p>Ultimo messaggio inviato</p></span>
                                <div class="time">
                                    <p>12:00</p>
                                </div>
                        </section>
                    </div>
                </article>

    
                <article class="pagina-chat">
                    <div class="profile-messager" v-for="(profile, index) in contacts" :key="index" v-show="index === currentContactProfile">
                        <img :src="profile.avatar + '.jpg'" alt="avatar">
                        <span> Michele </span>
                        
                        <div class="activities">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <section class="chat">
                        <article class="sent-message" v-for="message in contacts">
                            <div class="message" v-for="mymessage in message.messages">
                                <p v-show="mymessage.messages === sent">{{mymessage.message}}</p>
                            </div>
                        </article>
                        <article class="recived-message">
                        </article>
                    </section>
                    <div class="text-send">
                        <div class="type-message">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" placeholder="  Scrivi un messagggio">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                </article>
            </section>
        </div>

    </section>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./JS/script.js"></script>
</body>
</html>